
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  height: 0;
}
@font-face {
  font-family: "FontName";
  src: url("./SVN-Poppins.ttf");
}
/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'FontName', sans-serif; 
}

html{
  filter: brightness(100%);
}

:root {
  --bg-color: #f5f5f5;
  --text-color:#000;
  --boder-list-color: black;
  --bg-content-color:#fff
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
}
html {
  font-size: 12.8px;
  
}

/* Common */
.mr-4 {
  margin-right: 5px;
  font-size: 18px;
  transform: translateY(20%);
}

a {
  color: #196de2;
  text-decoration: none;
}

a:hover {
  color: #f60;
}

ul,
li,
ol {
  list-style: none;
}

.e-column {
  display: flex;
  flex-wrap: wrap;
}

.column-md-1-4 {
  flex: 0 0 auto;
  width: 25%;
}

.column-md-1-5 {
  flex: 0 0 auto;
  width: 20%;
}

#column-mr-1-5 {
  margin-top: 60px;
  width: 18%;
  display: inline-block;
}

.column-md-1-2 {
  flex: 0 0 auto;
  width: 50%;
}

.column-md-3-5 {
  width: 55%;
  margin-left: 15%;
  display: inline-block;
}

.column-md-3-4 {
  flex: 0 0 auto;
  width: 75%;
}



/* Color */
.dark-purple {
  background-color: #3A1078;
}

.light-purple {
  background-color: #4E31AA;
}

.dark-blue {
  background-color: #2F58CD;
}

.light-blue {
  background-color: #0D6EFD;
}

.light-red {
  background-color: #f73859;
}


#header{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  animation: scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



/* Logo */
.container {
  width: 100%;
}

#top-logo {
  width: 81px;
  height: 81px;
  margin: 2.7px 0px;
  background: url('../img/logo_UET.png') top right / cover no-repeat;
  background-size: contain;
  text-indent: -9999999px;
  border: 1px solid #fff;
  border-radius: 40px;
  background-color: #fff;
  display: block;
  float: left;
  cursor: pointer;
  box-shadow: 0 0 9px rgb(255, 255, 255);
}

.btn-rad{
  border-radius: 46px;
}

.header-btn{
  color: #000;
  padding:12px 14px;
  margin-top: 27px;
}

.header-btn:hover{
  color: #000;
  background-color: #FAFAFA;
  border-radius: 8px;
  cursor: pointer;
}

.header-add-post{
  color: #000;
  padding:12px 14px;
  margin-top: 30px;
  border-radius: 8px;
  color: #fff;
}

.header-add-post:hover{
  color: #fff;
  background-color:#f61e42 ;
  animation:  0.4s ease-in-out;
}

.user-welcome {
  float: right;
  margin: 0 29px;
  display: flex;
  align-items: center;
}

.dropdown-item{
  padding: 0px;
}

.dropdown-menu.user-notice {
  position: absolute;
  background: #fff;
  box-shadow: 0px 8px 20px rgb(182 182 182 / 42%);
  border-radius: 4px;
  overflow: hidden;
  width: 400px;
  z-index: 9999;
  padding: 0px;
}

.dropdown-item > .notice > .ntice-content {
  display: inline-block;
}

.head-notice{
  margin-bottom: 0px !important;
  text-align: center;
  color: #2C2C2C;
  padding: 12px 0;
  border-bottom: 1px solid #F2F2F2;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: normal !important;
  letter-spacing: -.2px !important; 
  background-color: #fff !important; 
}

.notice{
  box-sizing: border-box;
  padding: 8px 16px;
  border-bottom: 1px solid #F2F2F2;
}

.more-notice{
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #F2F2F2;
  background-color: #fff !important;
}
.more-notice:hover{
  color: red;
}

#nav, .subnav {
  list-style-type: none;
  margin-bottom: 0px;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  z-index: 10000000000;
}

#nav li a,
#nav li button {
  text-decoration: none;
  display: inline-block;
  line-height: 40px;
  padding: 0px 22px;
}



.menu-button{
  font-size: 19px;
  transform: translateY(4px);
  padding-right: 9px;
  color: rgb(255, 255, 255) !important;
  
}

#nav li:hover .menu-button{
  cursor: pointer;
  color: black !important;
}

.header-nav-item::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #f73859;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.header-nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Filter */
#filter-top {
  float: right;
  margin-right: 65px;
  
}

#filter-top .submit {
 
  padding: 0px 22px;
  margin: 4.5px 0px;
  
}

#filter-main > .filter-list{
  margin-left: 108px;
  margin-right: -180px;
}

#filter-main > .filter-list> .filter-item{
  padding-left: 0px !important;
  padding-top: 4px;
  padding-bottom: 4px;
}

.submit-filter{
  margin-top: 4px;
  padding-left: 0px !important;
}
.btn-filter{
  height: 40px !important;
  width: 120px;
  padding-top: 5px;
  
}


/* Begin: Content */
.content{
  margin-top: 180px;
  margin-left: 30px;
  margin: 180px 30px 0px;
}

.card-list{
  margin-left: 15%;
  margin-right: 15%;
}


.card{
  width:100%;
  height: 250px;
 
}

/*filter-cost*/
.cost-filter{
  border: 1px solid rgb(108, 117, 125);;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #fff;
}

.cost-filter-item a{
  font-size: 14px;
  line-height: 20px;
  font-weight: normal !important;
  letter-spacing: -.2px;
  color: #2C2C2C;
  
}

.cost-filter-item{
  margin-bottom: 16px;
  display: block;
  padding-right: 50px;
}

.cost-filter-item a i{
  margin-right: 10px;
}

.cost-filter-item:hover{
  transform: translateX(10px);
  transition: all 0.3s ease-in-out;
}

.cost-filter > p{
  font-size: 14px;
  line-height: 20px;
  font-weight: normal !important;
  letter-spacing: -.2px;
}


/* Main content */
.section {
  padding: 30px;
  border-radius: 8px;
  margin-left: 10px;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;;
}

/* Title */
.section .section-header {
  margin-top: 0;
  margin-bottom: 5px;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 4px 6px 0px rgb(44 44 44 / 4%);
  background-color: #fff ;
  padding: 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.section .section-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}


/* Listing */
.post-listing .post-item {
  position: relative;
  width: 100%;
  min-width: 666px;
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px 0px rgb(44 44 44 / 4%);
  background-color: #fff;
  margin-bottom: 10px;
}

.post-listing .post-item .info-img {
  display: block;
  width: 100%;
  height: 230px;
  padding: 8px;
}

.post-listing .post-item .post-place:hover{
  cursor: pointer;
}

.post-listing .post-item .info-img .sideimg{
  width: 36%;
  float: right;
  display: inline-block;
  height: 50%;
}


.post-listing .post-item .info-img .sideimg .img-child,
.post-listing .post-item .info-img .sideimg img{
  width: 100%;
  height: 100%;
}

.post-listing .post-item .info-img .mainimg img {
  width: 100%;
}

.post-listing .post-item .info-img .mainimg {
  width: 64%;
  display: inline-block;
  height: 100%;
}

.post-listing .post-item .post-meta {
  padding: 10px 15px;
}


.post-listing .post-item .post-title {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  display: block;
  white-space: normal;
  margin: 0 0 10px;
 
}

.post-listing > .post-item > .post-meta > .post-title > h2 > a {
  font-size: 14px;
    line-height: 20px;
    font-weight: normal !important;
    letter-spacing: -.2px;
    color: #2C2C2C;
    text-transform: uppercase;
}

.post-listing .post-item .meta-row {
  margin-bottom: 10px;
}

.post-listing .post-item .post-price, 
.post-listing .post-item .post-acreage, 
.post-listing .post-item .post-location, 
.post-listing .post-item .post-time, 
.post-listing .post-item .post-summary { 
  color: var(--text-color);
  margin-right: 15px;
  line-height: 19px;
  float: left;
}
  
.post-listing .post-item .post-price {
  font-size: 1.2rem;
}

.post-listing .post-item .post-time {
  color: var(--text-color);
  margin-right: 0;
  line-height: 19px;
  font-size: .9rem;
  float: right;
}

.responsive-image {
  width: auto;
  height: auto;
}


.post-listing .post-item .post-summary {
  color: var(--text-color);
  margin: 10px 0 0;
}

.post-listing .post-item .post-author {
  color: var(--text-color);
  margin-right: 10px;
  align-items: center;
  display: inline-flex;
}

.post-listing .post-item .post-author img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.post-listing .post-item .btn-quick-zalo {
  margin-top: 5px;
  margin-left: 5px;
  padding: 4px 7px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  float: right;
  color: #fff;
  background: #009BA1;
  border: 1px solid #009BA1;
}

.contact-info{
  border-top: 1px solid #F2F2F2;
}

/* Begin: Footer */
footer{
  width: 100%;
  
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p ,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom-footer{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom-footer a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}


.social-links a>i {
  margin-right: 10px;
  display: inline-block;
  width: 35px;
  height: 35px;
}

.social-links .social-fb i {
  background-image: url(/assets/img/icon/fb-icon.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-links .social-youtube{
  background-image: url(/assets/img/icon/youtube.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-links .social-zalo{
  background-image: url(/assets/img/icon/zalo.png);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-links .social-twitter{
  background-image: url(/assets/img/icon/twitter.webp);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}





.offcanvas > img{
  margin-top: 30px;
  margin-left: 108px;
  width: 180px;
  height: 180px;
}

.offcanvas > p{
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font: Roboto,sans-serif;
  margin-bottom: 50px;
}

.offcanvas > button{
  margin-bottom: 35px;
  height: 56px;
  width: 300px;
  margin-left: 50px;
  border-radius: 32px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 550;
}

.review{
  padding: 20px 50px 50px;
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: 30px;
  background-color: var(--bg-content-color);
}

.customer-review{
  margin-bottom: 10px;
}
.customer{
  margin-bottom: 27px;
}

.span-place{
  text-align: center;
}

.care{
  text-align: center;
}



.rating-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 25px 50px 35px;
}
.rating-box header {
  font-size: 22px;
  color: #dadada;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}

.modal.open{
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.modal-container{
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  border-radius: 15px;
}

.modal-header {
  background: #0D6EFD;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: #fff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px ;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  opacity: 0.8;
}

.button-animation {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #0D6EFD;
  transition: all 0.25s ease;
}
.button-animation:active {
  transform: scale(0.9);
}
