
  
  .modal-input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .modal-body {
    padding: 0.15px 16px;
  }
  
  .modal-footer {
    padding: 0.15px 16px;
  }
  .confirm-search {
    width: 100%;
    height: 49px;
    margin: 16px 0;
    padding: 16px;
    font-size: 16px;
    background: #009688;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .confirm-search:hover {
    background: #ccc;
    color: #000;
  }
  
  .modal-help {
    margin: 15px 0px;
    text-align: right;
  }
  
  .modal-help > a {
    color: blue;
  }
  
  .modal-contact {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  .modal-contact.open {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  .bottom {
    background: #fff;
    padding: 30px;
    word-spacing: -1px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  }
  .bottom .info {
    font-size: 20px;
    font-weight: 500;
  }
  .bottom .input-box {
    height: 45px;
    margin: 15px 0 10px 0;
  }
  form .input-box input,
  form .input-box button {
    height: 100%;
    width: 100%;
   
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    transition: all 0.4s ease;
  }

  .bottom input[type="text"] {
    border: 2px solid #ccc;
  }
  .bottom input[type="text"]:focus,
  .bottom input[type="text"]:valid {
    border-color: #6665ee;
  }
  .bottom input[type="submit"] {
    border: none;
    cursor: pointer;
    background: #6665ee;
    color: #fff;
    letter-spacing: 1px;
    height: 45px
  }
  .bottom input[type="submit"]:hover {
    background: #1414b8;
  }
  .bottom .close-btn-contact{
    border: none;
    cursor: pointer;
    background: #f082ac;
    color: #fff;
    letter-spacing: 1px;
    height: 45px
  }
  .bottom .close-btn-contact:hover{
    background: #ec5f95;
  }
  .bottom .footer {
    font-size: 16px;
    margin-top: 12px;
  }
  