.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  @font-face {
    font-family: "FontName";
    src: url("./SVN-Poppins.ttf");
  }
  /* Reset CSS */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  :root {
    --bg-color: rgb(232, 234, 237);
    --text-color:#000;
    --boder-list-color: black;
    --bg-content-color:#fff
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
  }
  html {
    font-size: 14px;

  }

p{
  margin-top: 0;
  margin-bottom: 1rem;
}

.row{
  margin-right: 0 !important;
}


ul,
li,
ol {
  list-style: none;

}


a {
    color: #196de2;
    text-decoration: none;
  }


  main{
    margin-top: 48px;
  }


  .sidebar{
   width:15%;

  }

.change-info{
    background-color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.98rem;
}

.change-info .title{
    display: flex!important;

    padding-bottom: 0.5rem!important;
    border-bottom: 1px solid #dee2e6!important;
}

.change-info > .tiltle > p{
    font-size: 2rem;
}

.main-info .row{
    margin-bottom: 15px;
}
.input-size{
    width: 40%;
    height: 34px;
}

.input-avatar-size{
  height:auto;
  margin-left: 150px;
}

.more-info{
    margin-top: 35px;
}

.more-info .row{
    margin-bottom: 15px;
}


.input-size > input,
.more-info > .row > .input-size > input{
    width: 100%;
    height: 34px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-title{
    width: 10%;
    padding-top:5px;
}

.save-button{
    margin-left: 30%;
}


.change-info .form-select-lg {
  height: 36px;
  font-size: 1rem;
  color: #495057;
}

.up-address h3{
  font-weight: bold;
  font-size: 1.75rem;
}

.up-description h3{
  font-weight: bold;
  font-size: 1.75rem;
}

.des-tilte{
  font-weight: bold;
  padding-bottom: 3px;
  padding-top: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.choose-type-post{
  display: flex;
  height: 36px;
  font-size: 1rem;
  width: 40%;
  color: #495057;
  justify-content: center;

}

.input-tilte-size{
  width: 100% !important;
}

#des-content{
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  display: block;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  padding: 0.375rem 0.75rem;
}

input#file{
  display: none;
}

.file-upload{
  height: 300px;
  width: 100%;
  border-radius: 6px;
  border: 1px dashed #999;
  justify-content: center;
  align-items: center;
  display: flex;
}

.file-upload:hover{
  cursor: pointer;
}

.col-lg-10{
  margin-left: auto;
}

.input-title-uppost{
  width: 20% !important;
}
