.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 0px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.side_bar .logo-sidebar {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo-sidebar .menu-icon {
  color: #333;
  font-size: 20px;
  margin-right: 12.5px;
  cursor: pointer;
}

.logo-sidebar .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
.side_bar .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
}
.side_bar.open .sidebar {
  left: 0;
  transition: all 0.6s ease;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 12px;
  
 
}
.sidebar-content .list {
  list-style: none;
  transform: translateX(-15px);
  padding-left: 0px !important ;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}


.list .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 5px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 14px;
  color: rgb(112, 112, 112);
  font-weight: 300;
}
.list .nav-link:hover .icon,
.list .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s ease;
  background: rgba(0, 0, 0, 0.3);
}
.side_bar.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
  z-index: 2;
  transition: all 0.6s ease;
}
